body {
	width: 100%;
	height: 100%;
	background-color: whitesmoke;
}

#mainHeader {
	text-align: center;
	align-content: center;
	width: 100%;
	background-color: whitesmoke;
	margin: 0;
	border: 0;
	padding: 1px;
	color: black;
	height: auto;
}

h1 {
	margin: 5px;
}

#inputBoxesDiv {
	display: inline;
	background-color: whitesmoke;
	margin-bottom: 2px;
	align-content: center;
}

.degrees90 {
	display: inline;
}

.degrees60 {
	display: inline;
}

.circularInputs {
	display: inline;
}

.inpBox {
	padding: 1px;
	margin: 1px;
}

.invisible {
	display: none;
}

#generateButton {
	display: inline;
	margin-left: 5px;
}

p {
	display: inline;
}

#canvasBox {
	align-content: center;
	width: auto;
	height: auto;
	margin-top: 5px;
}

#canvas {
	background-color: black;
	margin: 0px;
	border: 1px;
	border-style: solid;
	border-color: gray;
}